@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Gruppo:400');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Major+Mono+Display');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #bebece, #685e7a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  overflow:auto;
  height: 90vmin;
  background: rgba(78, 71, 84);
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 15vmin;
  background-color: rgba(37, 34, 40, 0.7);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.title-container__title {
  letter-spacing: 7px;
  line-height: 1.3;
  font-family: 'Major Mono Display', monospace;
}

.title-container__subtitle {
  opacity:0.8;
  font-size: 4vh;
  font-weight: 150;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: 'Poiret One', cursive;
}

.form-container {
  text-align: center;
  background: rgba(78, 71, 84, 0.7);
  height: 60vh;
  padding-top: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #4e4754 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.left{float:left;}
.right{float:right;}

.bus{
  height: 130px;
  padding:20px;
  background-color: rgba(236, 227, 244, 0.9);
  border-radius: 10px;
  width: 100%;
  font-weight: 900;
  color:#383a3d;
}

.duration{
  border-bottom: solid 2px #f16051;
  width: 50vh;
  padding:15px 0 15px 0;

}

.weather__info {
  float:left;
  text-align: left;
  width: 40vh;
  font-size: 2.5vh;
  font-weight: 200;
  letter-spacing: 2px;

}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 10px 0 10px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
iframe {
  float: right;
  width: 70vh;
  height: 40vh;
  border:0;
  padding-bottom: 40px;
}
.logo{
  height:16px;
  background: url("img/bus.png") center center no-repeat;
}
.location{
  height:16px;
  width:15px;
  background: url("img/location.png") center center no-repeat;
}
.important1{
  font-size: 3.5vh;
}
